/.env
/.env.*
!/.env.example

/vendor/
/storage/logs/*
!/storage/logs/.gitkeep

/.phpunit.result.cache
/.phpunit.cache/
/coverage/

.DS_Store
Thumbs.db
desktop.ini

/.idea/
/.vscode/

*.swp
*.swo
*.tmp
*.bak
*~
